<a href="#" class="list-group-item list-group-item-action network-option"
   data-ssid="{{ssid}}"
   data-bssid="{{bssid}}"
   data-security="{{security}}">
    <div class="row align-items-center">
        <div class="col">
            <div class="text-truncate">{{ssid}}</div>
            <small class="text-muted">Ch.{{channel}} • {{security}}</small>
        </div>
        <div class="col-auto d-flex align-items-center">
            <div class="signal-bars" title="{{ signal_level }} dBm" data-percent="{{signalPercentage signal_level}}" style="--percent: {{signalPercentage signal_level}}">
                {{#each (range 1 5)}}
                <div class="bar"></div>
                {{/each}}
            </div>
        </div>
    </div>
</a> 