<h3 class="mb-4"><i class="fas fa-wifi" style="transform: rotateZ(90deg);"></i>&nbsp;Sensor Settings</h3>

<!-- Configuration Cards -->
<div id="sensorConfigurations" class="row">
    {{#each sensors}}
        <div class="sensor-card col col-md-4" data-sensor-name="{{name}}">
            {{> sensor-config-card effects=../effects}} 
        </div>
    {{/each}}
</div>

<script id="sensor-config-card" type="text/x-handlebars-template">
{{{includeRaw 'sensor-config-card'}}}
</script>

<script src="/js/SensorManager.js"></script>
<script src="/js/SensorConfigCard.js"></script>

<script>
    window.sensors = {{{ json sensors }}};
    window.effects = {{{ json effects }}};
    new SensorManager({{{ json sensors }}});
</script>

